<footer class="footer">
    <div class="row">
        <div class="col-md-4">
            <h4>COONADOC</h4> <br> <br> 
            <a href="https://srv5.financialsoftware.com.co/OficinaCoonadoc/#/home/" >Oficina virtual </a> <br> <br>
            <a href="https://campus.coonadoc.co/" > Campus virtual </a> <br> <br> 
            <a href="https://www.mipagoamigo.com/MPA_WebSite/ServicePayments/StartPayment?id=328&searchedCategoryId=&searchedAgreementName=COOPERATIVA%20NACIONAL%20DE%20DOCENTES%20COONADOC" > Mi pago amigo </a> <br> <br>
            <a href="https://play.google.com/store/apps/details?id=com.srsappmovil.financial.appcoonadoc&hl=es_419&gl=US&pli=1" >App Coonadoc  </a><br> <br>
            <a href="https://websites.coonadoc.co/index.php/servicios/formatos#" >PQRSF</a>
        </div> 
        <div class="col-md-4">
            <h4>ENLACES</h4> <br> <br>
            <a href="https://www.educacionbogota.edu.co/portal_institucional/inicio" >Sed Bogota </a> <br> <br>
            <a href="https://www.adebogota.org/" > ADE </a> <br> <br> 
            <a href="https://fecode.edu.co/" > FECODE </a> <br> <br>
            <a href="https://www.supersolidaria.gov.co/es" >Suaersolidaria  </a><br> <br>
            <a href="https://www.redacademica.edu.co/" >Red académica</a>
        </div>
        <div class="col-md-4">
            <h4>SERVICIOS</h4> <br> <br>
            <a routerLink="/formatos" >Formatos </a> <br> <br>
            <a href="#" > Políticas </a> <br> <br> 
            <a href="#" > Créditos </a> <br> <br>
            <a href="#" >Turismo  </a><br> <br>
            <a href="#" >Contacto</a>

        </div>
    </div>
    <div class="credits ml-auto">
        <span class="copyright mt-3">
            © 2019 by RocketTheme. All rights reserved. Webmaster: JDS y JCC
        </span>
    </div>
</footer>
 