<div class="section" id="carousel">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/Coonadoc_10.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                                <h3>CONVENIOS</h3>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/Coonadoc_2.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <h3>TURISMO</h3>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/Coonadoc_3.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <h3>CRÉDITOS</h3>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/Coonadoc_4.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <h3>EDUCACIÓN</h3>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="title">Bienestar Coonadoc</h2>
                <p>
                    COONADOC, busca el mejoramiento de la calidad de vida del asociado, sus familias y personal administrativo, a través de las relaciones con consigo mismo, con el otro y el medio ambiente ,logrando la construcción de un buen vivir con relaciones equitativas y solidarias.
                  <br> <br>  Créditos para viajes nacionales e internacionales promovidos por COONADOC de forma directa o través de sus convenios.</p>
            </div>
        </div>
    </div>
</div>
<div class="section-navbars">
    <div id="navbar">
        <div class="container">
        </div>
        <div class="navigation-example">
            <nav class="navbar navbar-expand-lg navbar-transparent">
            </nav>
        </div>
    </div>
</div>
<div class="section section-brown">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">COONADOC</h2>
                <p class="description2">Somos una cooperativa de aportes y crédito que cuenta con talento humano idóneo, entrega servicios integrales de aporte y crédito de manera socialmente responsable, sostenible que genera una rentabilidad superior para fortalecer patrimonio y brindar bienestar a través de excedentes cooperativos que beneficien a todos sus asociados a sus familias y a la comunidad en general.
                    <br> <br>
                    Una cooperativa de docentes y sus familias que desarrolla un modelo solidario orientado a mejorar la calidad de vida de sus asociados</p>
            </div>
            <div class="col-md-4 mx-auto">
                <img style="width: 320px; height: 300px;" src="assets/img/Asamblea_2025.png" alt="">
            </div>
        </div>
    </div>
</div>
